<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.prinzpiuz.msm">

    <!-- Only override what’s different from main manifest -->
    <application android:label="MSM Debug" tools:replace="android:label">
    </application>

</manifest>
